<html>
    <style>
        .grid-container {
            grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
            display: grid;
            grid-gap: 2px;
            background-color:#4c4c4c;
            padding: 5px;
            width: 70%;
            float: left;
            height: 68%;
        }

        .grid-item {
            background-color: lightslategrey;
            text-align: center;
            padding: 10px;
            font-size: 15px;
            font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            cursor: pointer;
            height: 100%;
            border: solid #4c4c4c 1px;
        }
        .grid-item:hover
        {
            background-color: lightgreen;
        }
        .info {
            width: 28%;
            float: left;
            background: palegoldenrod;
            height: 100%;
            margin-left: 20px;
            height: 68%;
            border:solid #4c4c4c 2px;
            font-weight: 100;
            font-family: 'Roboto', sans-serif;
            padding: 2%;
        }
        h2,h1,h3,h4,p
        {
            font-family: 'Roboto', sans-serif;
            font-weight: 100;
        }
    </style>
    <head>
            <meta charset="utf-8">
            <meta http-equiv="x-ua-compatible" content="ie=edge">
            <title>Crypto Real Estate</title>
            <meta name="description" content="">
            <meta name="viewport" content="width=device-width, initial-scale=1">
        
            <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
            <link rel="stylesheet" href="css/bootstrap.min.css">
            <link rel="stylesheet" href="css/style.css">
            <link rel="stylesheet" href="style1.css">
            <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative|Open+Sans:300&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        
        
        
            
    </head>
        
    <body style="background-color: whitesmoke">
    <header>
            <div class="header-area "  style="background-color: lightseagreen">
                <div id="sticky-header" class="main-header-area">
                    <div class="container-fluid p-0">
                        <div class="row align-items-center justify-content-between no-gutters">
                            <div class="col-xl-2 col-lg-2">
                                <div class="logo-img">
                                    <a style="font-family: 'Cinzel Decorative', cursive;" href="{{ url_for('home')}}">
                                        <span style="color:whitesmoke; font-size: 2em;">CRE</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-9 col-lg-1000">
                                <div class="main-menu  d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation" align="right">
                                            <li><a style="font-family:Arial, Helvetica, sans-serif; color:whitesmoke" class="active" href="{{ url_for('home')}}">Home</a></li>
                                            {% if not session.signedin %}
                                                <li><a style="font-family:Arial, Helvetica, sans-serif; color:whitesmoke" href="{{ url_for('login')}}">Login</a></li>
                                            {% endif %}
                                            {% if session.signedin %}
                                                <li><a style="font-family:Arial, Helvetica, sans-serif; color:whitesmoke" href="{{ url_for('logout')}}">Logout</a></li>
                                                <li><p style="font-family:Arial, Helvetica, sans-serif; color:whitesmoke">Public Key: {{session.public}}</p></li>
                                            {% endif %}
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div style="padding-left: 10%; padding-right: 10%; padding-top: 3%; padding-bottom: 0%;">
            <h2>Welcome to the blockchain marketplace</h2>
            <div class="grid-container">
                {% for i in range(100) %}
                    <div class="grid-item" id="{{i}}">{{i}}</div>
                {% endfor %}
            </div>
            
            <div class="info">
                <p id="loading"></p>
                <h1 id="block">Select A Block</h1> 
                <p id="bid">Blockchain Block ID: </p>
                <br> <hr>
                <h4 id="price">Current Price: </h4> <br>
                <h4 id="status">Status: </h4> <hr> <br>
                <br>
                <br>
                <a id="buy" style="display: none;"><button type="button" class="btn btn-primary">Buy Block</button></a>
                <a id="sell" style="display: none;"><button type="button" class="btn btn-danger">Sell Block</button></a>
                <input id="amount" type="text" class="form-control" style="display: none; width: 40%; float: left; margin-right: 10px;"></input>
                <br> <br> 
                <h4 id="balance">Wallet Balance: </h4>
            </div>
        </div>
    </body>
    <script>
        var resp;
        var clicked;
        var eventSource = new EventSource("http://localhost:5000/checkowner/{{region}}");
        eventSource.onmessage = function(e) {
            loading = document.getElementById("loading");
            loading.innerHTML = "Refreshing grid..."
            resp = e.data;
            resp = JSON.parse(resp);
            console.log(resp);
            for(var i=0; i<100; i++)
            {
                var d = document.getElementById(i);
                if(resp[i] == 1)
                {
                    d.style.backgroundColor = "lightblue";
                    d.onmouseover = function(){this.style.backgroundColor = "lightgreen"}
                    d.onmouseleave = function(){this.style.backgroundColor = "lightblue"}
                }
                if(resp[i] == 2)
                {
                    d.style.backgroundColor = "pink";
                    d.onmouseover = function(){this.style.backgroundColor = "lightgreen"}
                    d.onmouseleave = function(){this.style.backgroundColor = "pink"}
                }
            }
            setTimeout(function(){loading = document.getElementById("loading"); loading.innerHTML = "";} ,2000);
        }

        for(var i=0; i<100; i++)
        {
            var d = document.getElementById(i);
            d.onclick = function()
            {
                clicked = this.innerHTML;
                console.log("clickeddd")
                loading = document.getElementById("loading");
                loading.innerHTML = "Loading Block Details..."
                info = document.getElementById("block");
                info.innerHTML = "Block #"+this.innerHTML;
                info = document.getElementById("bid");
                info.innerHTML = "Blockchain Block ID: "+((parseInt("{{region}}")-1)*100+parseInt(this.innerHTML));
                info = document.getElementById("price");
                sat = document.getElementById("status");
                xhrr = new XMLHttpRequest();
                var pr = 0;
                var pub = "";
                xhrr.onreadystatechange = function(){
                    if(xhrr.readyState == 4 && xhrr.status == 200)
                    {
                        var res = JSON.parse(xhrr.responseText);
                        info.innerHTML = "Current Price: "+res[4];
                        pr = res[4];
                        pub = res[3];
                        console.log(res);
                        if(res[5] == 0)
                        {
                            sat.innerHTML = "Status: FOR SALE";
                        }
                        else
                        {
                            sat.innerHTML = "Status: NOT FOR SALE";
                        }
                    }
                }
                xhrr.open("GET", "http://localhost:5000/xy/"+((parseInt("{{region}}")-1)*100+parseInt(this.innerHTML)), true);
                xhrr.send();
                console.log("hello",resp[this.innerHTML]);
                if(resp[this.innerHTML] == 0)
                {
                    buy = document.getElementById("buy");
                    buy.style.display = "";
                    sell = document.getElementById("sell");
                    sell.style.display = "none";
                    amount = document.getElementById("amount");
                    amount.style.display = "";
                    buy.onclick = function()
                    {
                        var id = ((parseInt("{{region}}")-1)*100+parseInt(clicked));
                        window.location.href = "http://localhost:5000/buy/"+id+"/"+document.getElementById("amount").value;
                    }
                }
                else if(resp[this.innerHTML] == 1)
                {
                    buy = document.getElementById("buy");
                    buy.style.display = "none";
                    sell = document.getElementById("sell");
                    sell.style.display = "";
                    amount = document.getElementById("amount");
                    amount.style.display = "";
                    sell.onclick = function()
                    {
                        var id = ((parseInt("{{region}}")-1)*100+parseInt(clicked));
                        window.location.href = "http://localhost:5000/sell/"+id+"/"+document.getElementById("amount").value;
                    }
                }
                else
                {
                    buy = document.getElementById("buy");
                    buy.style.display = "none";
                    sell = document.getElementById("sell");
                    sell.style.display = "none";
                    buy = document.getElementById("amount");
                    buy.style.display = "none";
                }
                setTimeout(function(){loading = document.getElementById("loading"); loading.innerHTML = "";} ,1000);
            }
        }

        function b()
        {
            balan = new XMLHttpRequest();
            balan.onreadystatechange = function(){
                if(balan.readyState == 4 && balan.status == 200)
                { 
                    document.getElementById("balance").innerHTML = "Wallet Balance: "+balan.responseText;
                }
            }
            balan.open("GET", "http://localhost:5000/getBalance", true);
            balan.send();
        }
        b()
        settimer1 = setInterval(b, 5000);
    </script>
</html>