<html>
    <style>
        .square {
        height: 300px;
        width: 45%;
        background-color: palegoldenrod;
        float: left;
        margin-left: 50px;
        margin-bottom: 50px;
        margin-top: 0;
        padding: 2%;
        cursor: pointer;
        }
        .square:hover{
            background-color: paleturquoise;
            box-shadow: palevioletred;
        }
    </style>
    <head>
            <meta charset="utf-8">
            <meta http-equiv="x-ua-compatible" content="ie=edge">
            <title>Crypto Real Estate</title>
            <meta name="description" content="">
            <meta name="viewport" content="width=device-width, initial-scale=1">
        
            <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
            <link rel="stylesheet" href="css/bootstrap.min.css">
            <link rel="stylesheet" href="css/style.css">
            <link rel="stylesheet" href="style1.css">
            <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative|Open+Sans:300&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        
        
        
            
    </head>
        
    <body style="background-color:rgb(97, 57, 109);">
    <header>
            <div class="header-area ">
                <div id="sticky-header" class="main-header-area white-bg">
                    <div class="container-fluid p-0">
                        <div class="row align-items-center justify-content-between no-gutters">
                            <div class="col-xl-2 col-lg-2">
                                <div class="logo-img">
                                    <a style="font-family: 'Cinzel Decorative', cursive;" href="{{ url_for('home')}}">
                                        <span style="font-size: 2em;">CRE</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-9 col-lg-1000">
                                <div class="main-menu  d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation" align="right">
                                            <li><a class="active" href="{{ url_for('home')}}">Home</a></li>
                                            {% if not session.signedin %}
                                                <li><a href="{{ url_for('login')}}">Login</a></li>
                                            {% endif %}
                                            {% if session.signedin %}
                                                <li><a href="{{ url_for('logout')}}">Logout</a></li>
                                                <li><p style="font-family:Arial, Helvetica, sans-serif; color:mediumseagreen">Public Key: {{session.public}}</p></li>
                                            {% endif %}
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div style="padding-left: 10%; padding-right: 10%; padding-top: 3%; padding-bottom: 0%;">
            <div class="square" onclick="location.href = '/grid/1';">
                <h1 style="color: #4c4c4c; font-weight: 100;">Region Alpha</h1>
                <br>
                <hr>
                <br>
                <h4  style="color: #4c4c4c; font-weight: 100;">Average Cost: 100$</h4>
                <h4  style="color: #4c4c4c; font-weight: 100;">Plots for sale: 10</h4>
                <h4  style="color: #4c4c4c; font-weight: 100;">Plots Owned By You: 10</h4>
                <h4  style="color: #4c4c4c; font-weight: 100;">Transactions in Region: 10000</h4>
            </div>
            <div class="square" onclick="location.href = '/grid/2';">
                <h1 style="color: #4c4c4c; font-weight: 100;">Region Beta</h1>
                <br>
                <hr>
                <br>
                <h4  style="color: #4c4c4c; font-weight: 100;">Average Cost: 100$</h4>
                <h4  style="color: #4c4c4c; font-weight: 100;">Plots for sale: 10</h4>
                <h4  style="color: #4c4c4c; font-weight: 100;">Plots Owned By You: 10</h4>
                <h4  style="color: #4c4c4c; font-weight: 100;">Transactions in Region: 10000</h4>
            </div>
            <div class="square" onclick="location.href = '/grid/3';">
                <h1 style="color: #4c4c4c; font-weight: 100;">Region Gamma</h1>
                <br>
                <hr>
                <br>
                <h4  style="color: #4c4c4c; font-weight: 100;">Average Cost: 100$</h4>
                <h4  style="color: #4c4c4c; font-weight: 100;">Plots for sale: 10</h4>
                <h4  style="color: #4c4c4c; font-weight: 100;">Plots Owned By You: 10</h4>
                <h4  style="color: #4c4c4c; font-weight: 100;">Transactions in Region: 10000</h4>
            </div>
            <div class="square" onclick="location.href = '/grid/4';">
                <h1 style="color: #4c4c4c; font-weight: 100;">Region Delta</h1>
                <br>
                <hr>
                <br>
                <h4  style="color: #4c4c4c; font-weight: 100;">Average Cost: 100$</h4>
                <h4  style="color: #4c4c4c; font-weight: 100;">Plots for sale: 10</h4>
                <h4  style="color: #4c4c4c; font-weight: 100;">Plots Owned By You: 10</h4>
                <h4  style="color: #4c4c4c; font-weight: 100;">Transactions in Region: 10000</h4>
            </div>
        </div>
    </body>
</html>